{% extends "::base.html.twig" %}

{% trans_default_domain 'exception' %}

{% block body %}
    <div class="container">
        <h1>{{ 'exception.error_overall.h1'|trans }}</h1>
        <h2>{{ 'exception.error_overall.h2'|trans|replace({'%status_code%': status_code, '%status_text%': status_text}) }}</h2>
        <p>{{ 'exception.error_overall.info'|trans }}</p>
    </div>
{% endblock %}
