<body{% block body_attributes %}{% endblock %}>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
    <script type="text/javascript">jsloader.init();</script>
    <script src="{{ cdn_asset('resources/vendor/picturefill/dist/picturefill.min.js', 'javascript') }}" async></script>
{% block body_end %}{% endblock %}
</body>
